/* #f57f17 */
*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
	/* color: #333; */
	transition: 0.3s all ease-in-out
}

ul li {
	list-style: none;
	direction: ltr;
}

ul li a{ color: #333 }

.row{
    margin-left: 0;
    margin-right: 0
}

ul { margin-bottom: 0 }

/* small top bar (Black Par) */
.black-par {
	width: 100%;
	background-color: #333;
	padding-bottom: 5px;
	cursor: pointer;
}

.black-par ul {
	text-align: center;
	margin: 0 auto;
}

.black-par ul li {
	display: inline-block;
	list-style: unset;
	margin-right: 30px;
	font-size: 12px;
	text-align: center;
}

.black-par ul li a {
    color: #fff;
    text-decoration: unset
}

.last{margin-right: 0}

.hesaby:hover .myprofile{
	display: block
}
.myprofile {
	display: none;
	position: absolute;
	z-index: 99999999999;
	background: #333;
	width: 150px;
	padding: 10px 0;
	top: 20px;
	left: -170%;
	text-align: center !important;
	border-radius: 0 0 10px 10px
}

.myprofile a{display: block; padding: 10px}

.myprofile a:hover{background: #f57f17}

.myprofile button {
	background: #f57f17;
	padding: 7px 15px;
	width: 100%;
	border: 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	border-radius: 20px;
}

.login a{
	padding: 4px 10px;
}
.login a:hover{
	background: #464646;
}

.myprofile button.signup {
	background: #fff;
	padding: 7px 15px;
	width: 100%;
	border: 0;
	color: #f57f17;
	font-size: 10px;
	font-weight: bold;
	border-radius: 20px;
	border: 1px solid #fff;
}

/* nav-bar */
.row.navbar { padding: 20px 0 }

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.navbar ul li a {
	color: #f57f17;
	font-size: 20px;
}

.navbar ul li a.favorite{ color: #BEBEBE }

.navbar ul li a.favorite:hover{ color: #f57f17 }

.navbar form button {
    background: #f57f17;
    border: 0;
    color: #fff;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    width: 10%;
    padding: 5px 10px 6px;
    border: 3px solid #f57f17;
}

.navbar form input {
    padding: 7px;
    font-size: 14px;
    direction: rtl;
    padding: 8px 17px 8px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #f57f17;
    color: #333;
    width: 90%;
}

.navbar a img {
	width: 66px;
	float: right;
	display: block;
}

.clear{ clear: both }


/* categories */
.categories {
	background-color: #eee;
	margin-bottom: 30px;
	position: relative;
}

.categories ul {
	justify-content: space-between;
	display: flex;
	padding: 10px 0;
}

.categories ul li {
	list-style: none;
	display: inline-block;
    direction: rtl;
}

.categories ul li a {
	color: #333;
}

.choose {
	position: absolute;
	top: 38px;
	right: 0;
	background: #eee;
	width: 100%;
	z-index: 9999;
	display: none
}

.categories:hover .choose {
	display: block;
}
/* info & slider & best deals */
.img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-image: url('../images/profile/Mohamed\ A\ Sharaqi.jpg');
	display: block;
	margin: 30px auto 15px;
	background-size: contain;
}

.info h4 {
	font-size: 16px;
	text-align: center;
	font-weight: bolder;
	color: #333;
}

.info p {
	text-align: center;
	margin-bottom: 0px;
	color: #717171;
	font-size: 13px;
}

.info button {
	background-color: #f57f17;
	border: 0;
	padding: 6px 5px 11px;
	width: 80%;
	display: block;
	margin: 20px auto;
	border-radius: 20px;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
}

.info .card {
	border-radius: 15px;
	padding-bottom: 10px;
	box-shadow: 0 0 4px #00000025;
	border: 0;
	min-height: 360px;
}


.img-slide-a, .img-slide-b{
	background-size: cover;
	width: 100%;
	height: 360px;
}

.img-slide-a { background-image: url('../images/slider/men-s-gray-and-black-button-up-shirt-on-mannequin-1086711.jpg') }

.img-slide-b { background-image: url('../images/slider/summer-up-to-70-sale-text-1051744.jpg') }

.info .col-lg-3 {
	padding-right: 0;
	padding-left: 0;
}

.best-deals{
    direction: rtl;
    text-align: right;
    padding: 30px 15px;
}

.best-deals h4{
    margin: 0 0 15px auto
}

span{font-size: 14px; margin-left: 5px}

.card ul li a {
	color: #333;
	font-size: 14px;
}

.info .card ul li {
	margin-bottom: 10px;
}

#carouselExampleIndicators {
	box-shadow: 0 0 4px #00000025;
	min-height: 360px;
	border-radius: 15px;
	overflow: hidden;
}

.info img {
	border-radius: 15px;
	min-height: 360px;
}

/* .col-lg-6 .carousel-indicators li {
	background-color: #ffd9b7 !important;
}

.col-lg-6 .carousel-indicators li.active {
	background-color: #f57f17 !important;
} */


/* items */
.item-card-a:hover{ text-decoration: unset }

.card.item {
	padding: 20px 0 0 0;
	text-align: center;
}

.item-img {
	width: 87px;
	height: 170px;
	background-image: url('../images/products/Iphone\ X.png');
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 0 auto;
}

.item h4 {
	font-size: 20px;
	margin: 20px auto 7px;
}

.item p {
	font-size: 14px;
	color: #717171;
	width: 100%;
	text-align: center;
	margin-bottom: 7px;
}

.item-info {
	margin-top: 15px;
	border-radius: 15px;
	box-shadow: 0 0 4px #00000025;
	padding: 10px 20px;
}

.item h4 {
	font-size: 18px;
	margin: 5px auto 7px;
	font-weight: bold;
	color: #26437E;
}

.A, .B, .C, .D{
	color: #F57F17;
}

.E{color: #7F7F7F}

.price {
	font-size: 18px;
	margin-left: 5px;
	font-weight: bold;
	color: #26437E;
}

.fa-heart:hover{
	color: #F57F17;
	cursor: pointer;
}

.item a {
	width: 100%;
}

.item button {
	background: #f57f17;
	border: 0;
	border-radius: 20px;
	padding: 10px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	width: 100%;
	margin: 20px auto 7px;
	display: block;
}

.card.item {
	margin-top: 25px;
	border-radius: 15px
}

/* footer */
.footer {
	height: 100px;
	background: #ececec;
	color: #333;
	text-align: center;
	padding: 30px 15px;
	margin-top: 40px;
}

h6{
	opacity: 0.6;
	font-size: 14px
}

/* search in small screens */
.SRCH.SRCHinSM { width: 100% }

.SRCHinSMF {
	/* background: #eeeeee45; */
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 0px #0000001c;
}

.svg-inline--fa.fa-bars.fa-w-14 {
    font-size: 20px;
    color: #F57F17;
	margin-top: 0px;
	cursor: pointer;
}


/* side-bar */
.side-bar {
	background: #fff;
	padding: 0px 0 10px !important;
	text-align: right;
	width: 70%;
	height: 100%;
}

.side-bar h5 {
	font-size: 14px;
	text-align: center;
	margin: 10px 0 5px;
}

.side-bar p {
	margin: 0 0 10px;
	text-align: center;
	font-size: 11px;
	opacity: 0.6;
}

.side-bar .side-bar-profile {
	margin: 0 0 40px;
	padding: 20px;
	background-color: #ef781026;
	color: #23417f;
}
.side-bar.AppearsInSmOnly { padding: 0 }

.side-bar-cat {
	margin-right: 30px !important;
	display: block !important;
	margin-bottom: 20px;
	color: #23417f;
	font-size: 12px;
	cursor: pointer;
}

.side-bar-img {
	background-image: url('../images/profile/Mohamed\ A\ Sharaqi.jpg');
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: cover;
	margin: 0 auto;
}

.svg-inline--fa.fa-times.fa-w-11 {
	display: block;
	margin: 0px 0 20px 0;
	font-size: 18px;
	cursor: pointer;
}

.side-bar-con {
	width: 100% !important;
	height: 100%;
	background: #000000d1;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
	display: none
}

.side-bar, .side-bar-con {
	min-height: 450px;
}